/* .header__table {
  width: 100%;
  height: 7rem;
} */

/* table base .table-action {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

table {
  font-family: arial;
  max-width: 100%;
  height: 40%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  position: relative;
  left: 10%;
  width: 80%;
  margin-bottom: 20px;
} */

.table .t-icon {
  width: 2%;
}

/* .table th {
  font-weight: bold;
  font-size: 16px;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table td {
  font-weight: normal;
  font-size: 14px;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
} */
/* .table thead th {
  background: #eeeeee;
  vertical-align: bottom;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}
.table .t-small {
  width: 5%;
}
.table .t-medium {
  width: 15%;
} */
/* .table .t-status {
  font-weight: bold;
}
.table .t-active {
  color: #46a546;
}
.table .t-inactive {
  color: #e00300;
}
.table .t-draft {
  color: #f89406;
}
.table .t-scheduled {
  color: #049cdb;
} */

/* .container-category {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
} */

/* Small Sizes */
/* @media (max-width: 480px) {
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-action td {
    border: 0;
  }
  .table-action td:not(:first-child) {
    display: block;
  }
} */
