body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 1rem;
  color: #2d2d2d;
}

main {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  background-color: #f5f5f5;
}

.dash_container {
  position: relative;
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  width: fit-content;
}

.dash_title {
  padding: 0.5rem;
  position: relative;
  margin-left: 4rem;
}

.dash_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 1rem;
  width: 100vw;
}
.goal_Error {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dash_goal {
  position: relative;
  max-width: 20rem;
  left: 6rem;
}

.dash_year {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  z-index: 10;
}

.year_picker {
  margin-left: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  z-index: 10;
  grid-row: 2;
  grid-column: 1;
  height: fit-content;
}

.dash_bar {
  border-radius: 1rem;
  position: relative;
  margin-top: 0.5rem;
  background-color: white;
  margin-left: 1rem;
  width: 44rem;
  grid-row: 2;
  grid-column: 1;
}

h2 {
  font-size: 2.2rem;
}

.dash_sec1 {
  position: relative;
  display: grid;
  padding: 0.1rem;
  width: 80%;
  /* grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3; */
  grid-template-columns: 2fr 1fr;
  row-gap: 1rem;
}

.dash_sec2 {
  position: relative;
  padding: 0.1rem;
  background-color: white;
  grid-row-start: 2;
  grid-column-start: 2;
  margin-right: 2rem;
  width: 25rem;
  grid-row: 1 / span 2;
  border-radius: 1rem;
}

.wrapper {
  position: relative;
  border: 3px solid #31364c;
  width: 15rem;
  left: 10rem;
}

.dash_thismonth > div:nth-child(1) {
  left: 3rem;
}

.dash_lastmonth > div:nth-child(1) {
  left: 3rem;
}

.container {
  background-color: white;
}

.dash_goal2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  left: 9rem;
}

.dash_add {
  display: flex;
  position: relative;
  flex-direction: row;
  left: 8rem;
  border: 0.4rem solid rgba(43, 43, 43, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.dash_total2 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 0.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: fit-content;
  grid-row: 1;
}

div.dash_box:nth-child(1) {
  background-color: #2b2b2b;
}

div.dash_box:nth-child(1) > div:nth-child(3) {
  color: white;
}

div.dash_box:nth-child(1) > h3:nth-child(2) {
  color: gray;
}

.dash_box {
  padding-top: 3rem;
  padding: 1rem;
  margin-left: 0rem;
  margin-right: 1rem;
  width: 12rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dash_first {
  padding: 1rem;
  padding-bottom: 1rem;
  width: 2.4rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(110, 251, 45, 0.4);
}

.dash_second {
  padding: 1rem;
  padding-bottom: 1rem;
  width: 2.4rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(243, 245, 247, 1);
}

.dash_third {
  padding: 1rem;
  padding-bottom: 1rem;
  width: 2.4rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(243, 245, 247, 1);
}

.dash_total3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
}

.dash_comparison {
  position: relative;
  padding-left: 4%;
}

.dash_thismonth {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}

.dash_lastmonth {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.dash_type {
  padding: 0.1rem;
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;

  width: 35%;
  grid-row: 3;
  grid-column: 1;
  height: fit-content;
}

.css-u4tvz2-MuiFormLabel-root.Mui-focused {
  color: black;
}

.react-datepicker-wrapper {
  width: fit-content;
}

div.react-datepicker-wrapper:nth-child(2) > div:nth-child(1) {
  width: 6rem;
}

div.react-datepicker-wrapper:nth-child(4) > div:nth-child(1) {
  width: 6rem;
}

.dash_ranger {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 26rem;
  justify-content: space-between;

  margin-left: 4rem;
  z-index: 10;
  font-size: 1rem;
  grid-column: 1;
  grid-row: 2;
  height: fit-content;
}

h4 {
  display: ruby;
}

.dash__radio__charts {
  display: contents !important;
}
