html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.search_Bar {
  color: red;
}

.searchBar_Header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  margin-left: 9.5rem;
}

.admin_Header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 1%;
}

.admin_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 70%;
}
/* .table_body{
  display: flex;
  flex-direction: row;
  width: max-content;
} */
.delete_admin {
  padding: 5%;
  margin: 5%;
}

.edit_admin {
  padding: 5%;
  margin: 5%;
}

.add_admin {
  position: relative;
  right: 70%;
}
