/* html,
body {
    overflow: hidden;
}

.loginPageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-color: #301934;
}

input{
    max-width: 30rem;

}
input[type="email"],
input[type="password"] {
    position: relative;
    height: 2rem;
    border: 0.1rem solid purple;
   
}

input[type="password"]:focus {

    border: #fff;
    outline: orange;
    box-shadow: 0 0 0 0.1rem purple;
}

input[type="email"]:focus {
    border: #fff;
    outline: orange;
    box-shadow: 0 0 0 0.1rem purple;
}

.btn{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 40%;
    
} 



input[type="submit"] {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    background: purple;
    border: 1px solid black;
    color: #fff;
    padding: 0.7rem 1.7rem;

    justify-content: center;
    align-items: center;
}

input[type="submit"]:hover {
    background: #301934;
}

label:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 200;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-box {
    position: relative;
    background-color: purple;
    padding: 2rem;
    width: 30%;
    max-width: 30%;
    height: 36rem;
    align-self: center;
    box-shadow: 0 1rem 1rem 0 purple, 0 1rem 1rem 0 #301934;
    border: 1rem solid #301934;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3%;

}


.error {
    position: relative;
    color: red;
    font-size: 1rem;
    text-align: center;
    text-decoration: double;
    font-weight: 800;

}

h2 {
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    text-decoration: dashed;
    font-weight: 200;
}

.user-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
} */

/* @media screen and (max-width: 800px) {

    .loginPageContainer {
        max-width: 90%;

    }

    .login-box {
        max-width: 100%;
    }

    .button-container {
        max-width: 20%;
    }

    .user-box {
        max-width: 90%;
    }

    body {
        font-size: 1px;

    }
} */

/* body {
  background: linear-gradient(-45deg, #2b2b2b, #6efb2d, #2b2b2b, #2b2b2b);
} */

.login__form {
  background: linear-gradient(-45deg, #6efb2d, #2b2b2b, #2b2b2b, #6efb2d);
  height: 100vh;
}
.MuiPaper-root {
  margin: 0;
}
.MuiGrid-container {
  height: 100vh;
}

.MuiButton-disableElevation {
  position: relative;
  top: 10%;
}

.MuiPaper-root.MuiPaper-elevation10.MuiPaper-rounded {
  width: 308px !important;
  height: 40vh !important;
  position: relative;
  top: 22vh;
}

.MuiButton-disableElevation {
  position: relative;
  top: 8%;
}
