.header__table {
  display: flex;
  height: 5rem;
  position: relative;
  left: 10%;
  right: 8%;
  width: 80%;
  margin-top: 30px;
}
.buttons__filtering {
  position: absolute;
  right: 0%;
}

.button-searching {
  background-color: #2b2b2b;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 120px;
  display: inline-block;
  font-size: 18px;
  margin: 2px 2px;
  cursor: pointer;
}

.button-searching:hover {
  background-color: #6efb2d;
  color: #2b2b2b;
}

.active__button {
  color: #6efb2d;
}

.Add__button {
  margin-top: 8px;
  color: #2b2b2b;
}

.Add__button:hover {
  cursor: pointer;
  color: #6efb2d;
}

/* Table Base */
.table-action {
  overflow-y: visible;
  text-align: justify;
}

table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
  height: 40%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  position: relative;
  left: 10%;
  width: 80%;
  margin-bottom: 20px;
}

.table th {
  font-weight: bold;
  font-size: 16px;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table td {
  font-weight: normal;
  font-size: 16px;
  padding: 8px 13px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #6efb2d;
}
.table thead th {
  background: #2b2b2b;
  vertical-align: bottom;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}
.table .t-small {
  text-align: center;
  color: white;
  width: 5%;
}
.table .t-medium {
  text-align: center;
  color: white;
  width: 15%;
}
.table .t-date {
  text-align: center;
  color: white;
  width: 7%;
}

.table .t-title {
  text-align: center;
  color: white;
  width: 10%;
}
/* .table .t-status {
    font-weight: bold;
  }
  .table .t-active {
    color: #46a546;
  }
  .table .t-inactive {
    color: #e00300;
  }
  .table .t-draft {
    color: #f89406;
  }
  .table .t-scheduled {
    color: #049cdb;
  } */

input[type="text"],
input[type="number"],
input[type="description"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="radio"] {
  margin-bottom: 16px;
  margin-top: 10px;
}

.container-income {
  width: 450px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
}

.dialog__buttons {
  font-size: 18px;
  width: 120px;
  margin: 2px 2px;
  padding: 2px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

/* Small Sizes */
@media (max-width: 480px) {
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-action td {
    border: 0;
  }
  .table-action td:not(:first-child) {
    display: block;
  }
}
