.container {
  display: flex;
}

main {
  width: 100%;
}

.sidebar {
  background: #2b2b2b;
  color: #fff;
  min-height: 100%;
  width: 250px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  /* margin-left: 50px; */
}

.bars:hover {
  color: #6efb2d;
}

.link {
  text-decoration: none;
  font-size: large;
  display: flex;
  color: #fff;
  padding: 15px 15px;
  gap: 15px;
  transition: all 0.5;
}

.link_text {
  margin-left: 10px;
}

.link:hover {
  background: #6efb2d;
  color: #2b2b2b;
  transition: all 0.5s;
}

.active {
  background: #6efb2d;
  color: #2b2b2b;
}

.loader-container {
  padding-top: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #6efb2d;
}

.iconss__func:hover {
  color: #6efb2d;
  cursor: pointer;
}

.paginationBttns {
  display: flex;
  justify-content: end;
  position: relative;
  list-style-type: none;
  color: #fff;
  width: 79%;
  left: 8.5%;
  right: 7%;
}

.pagination {
  list-style-type: none;
}

.paginationBttns a {
  background-color: #2b2b2b;
  color: white;
  float: right;
  margin: 5px;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
}

.paginationActive a {
  background-color: #6efb2d;
  color: #2b2b2b;
}

/* .paginationBttns a:hover {
  background-color: #6efb2d;
} */

.side_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 43rem;
}
.side_map {
  position: relative;
  display: flex;
  flex-direction: column;
}
.side_logout {
  position: relative;
  min-height: 12rem;
}
